.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
    background-color: white;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4); /* Stronger shadow for better distinction */
    border-radius: 8px;
    padding: 20px;
    width: 90%;
    max-width: 800px;
    border: 1px solid rgba(0, 0, 0, 0.2); /* Subtle border for added contrast */
}

.modal-content {
    position: relative;
}

#modalContainer {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4); /* Semi-transparent darker gray overlay */
    z-index: 999; /* Ensure it is above other elements */
}

.close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 24px;
    font-weight: bold;
    color: #333;
    cursor: pointer;
    background: none;
    border: none;
}

.close-button:hover {
    color: red;
}

.modal-footer {
    text-align: center;
    margin-top: 20px;
}

.exit-button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.exit-button:hover {
    background-color: #45a049;
}

#comprasTable {
    width: 100%;
    border-collapse: collapse;
}

#comprasTable th, #comprasTable td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
}

#comprasTable th {
    background-color: #f2f2f2;
}

.gain-loss-arrow-down {
    color: #ff0101;
    mix-blend-mode: difference;
}
