<div class="dashboard">
    <h1>Dashboard</h1>
    <div class="table-header">
        <h2>Visão Geral das Criptomoedas</h2>
        <button id="atualizarTabelaBtn" title="Atualizar Tabela">🔄</button>
    </div>
    <table id="cryptoTable">
        <thead>
            <tr>
                <th>Moeda</th>
                <th>Quantidade Total</th>
                <th>Valor Total Investido (BRL)</th>
                <th>Valor Atual (BRL)</th>
                <th>Preço Médio (BRL)</th>
                <th>Preço Atual (BRL)</th>
                <th>Alerta de Preço (BRL)</th>
                <th>Ganho/Perda</th>
            </tr>
        </thead>
        <tbody>
            <!-- Linhas preenchidas dinamicamente via JS -->
        </tbody>
    </table>
    <div id="totalInvestidoResumo"></div>
    <div id="totalValorAtualResumo"></div>
    <div id="ganhoPerdaResumo"></div>
</div>
<script src="components/dashboard/dashboard.js"></script>
