<div id="modalCoinDetail" class="modal-coin-detail">
  <div class="modal-coin-detail-content">
    <span class="modal-coin-detail-close" id="modalCoinDetailCloseBtn">&times;</span>
    <h2 id="modalCoinDetailTitle"></h2>
    <div class="modal-coin-detail-body">
      <table class="coin-detail-table">
        <thead>
          <tr>
            <th>Data</th>
            <th>Operação</th>
            <th>Quantidade</th>
            <th>Valor (BRL)</th>
            <th>Valor Atual (BRL)</th>
            <th>Ganho/Perda</th>
            <th>Observações</th>
          </tr>
        </thead>
        <tbody id="coinDetailTableBody">
          <!-- Linhas dinâmicas -->
        </tbody>
      </table>
    </div>
  </div>
</div>
