body {
    margin: 0; /* Remove default margin */
    display: flex; /* Use flexbox for layout */
    height: 100vh; /* Full viewport height */
}

#menuContainer {
    flex-shrink: 0; /* Prevent shrinking */
    transition: width 0.3s ease;
}

#mainContent {
    flex-grow: 1; /* Allow mainContent to take remaining space */
    display: flex;
    flex-direction: column;
    margin-left: 60px; /* Default for compact menu */
    transition: margin-left 0.3s ease;
}

#sideMenu.menu-expanded + #menuContainer + #mainContent {
    margin-left: 14.4%;  /* Adjust for expanded menu */
    transition: color 0.45s;
}

#sideMenu.menu-compact + #menuContainer + #mainContent {
    margin-left: 60px; /* Adjust for compact menu */
}
