<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Backup do LocalStorage</title>
    <link rel="stylesheet" href="../css/styles.css">
    <link rel="stylesheet" href="../css/backup.css">
</head>
<body>
    <div id="content">
    <header>
        <button onclick="window.history.back()" class="action-button back-button">Voltar</button>
        <h1>Backup do LocalStorage</h1>
    </header>
    <main>
        <section id="backup">
            <button id="saveAllButton" class="action-button large-button">Salvar Todos</button>
            <div id="backupSections">
                <!-- Dados do LocalStorage serão exibidos aqui -->
            </div>
        </section>
    </main>
    <footer>
        <p>&copy; 2025 Sistema de Controle de Criptomoedas</p>
    </footer>
    </div>
    <script src="../js/backup.js"></script>
</body>
</html>
